@use "../../partials/partials" as *;

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__left {
    width: 90vw;
    margin-top: 150px;
    @include tablet {
      margin-top: 0;
    }
  }

  &__right {
    width: 10vw;
  }

  //screenshot
  &__screenshots {
    height: 200px;
    position: relative;
  }

  &__screenshot {
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  @include tablet {
    &__ss2 {
      position: absolute;
      top: 6rem;
      left: 10rem;
    }
    &__ss3 {
      margin-left: 5rem;
    }
  }

  //titles and links
  &__arrow {
    height: 40px;
    background: none;
  }

  &__links {
    list-style-type: none;
    margin-left: 3rem;
  }

  li {
    margin: 1rem;
    display: flex;
    align-items: center;
  }

  &__a {
    margin: 1rem;
    font-size: 1.5rem;
  }
  //footer
}

//Typing the title
.cover h3 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 5rem 3rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}

// Typing effect
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// Typing cursor effect
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
